# --- Maven Build Output ---
/target/
/bin/
dependency-reduced-pom.xml

/doc/

# --- IDE Settings (Eclipse) ---
.classpath
.project
.settings/

# --- IDE Settings (IntelliJ) ---
.idea/
*.iml
*.iws
*.ipr

# --- Java Crash Logs ---
*.log
hs_err_pid*

# --- OS System Files ---
.DS_Store
Thumbs.db